.description{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description__button{
    border: 1px solid var(--ornaments, orange);
    border-radius: 15px;
    padding: 14px 28px 14px 28px;
    width: 200px;
    background-color: white;
    color: var(--ornaments, orange);
    margin: 10px 20px;
    cursor: pointer;
    transition-property: background-color, color, font-weight;
    transition-duration: .5s;
}

.description__button:hover{
    background-color:var(--ornaments, orange);
    color: white;
    font-weight: 700;
}